PORT=8080
DB_PATH=./data/intact.db
DEMO_STORAGE_PATH=./data/demos

STEAM_API_KEY=your_steam_api_key_here
CALLBACK_BASE_URL=http://localhost:8080

ROOT_STEAM_ID=76561198000000001
STEAM_ADMIN_IDS=76561198000000002,76561198000000003

TLS_CERT_PATH=
TLS_KEY_PATH=

JWT_PRIVATE_KEY_PATH=./data/keys/jwt_private.pem
JWT_PUBLIC_KEY_PATH=./data/keys/jwt_public.pem

SESSION_SECRET=your_super_secret_key
